# Database URL (e.g. Postgres on local VM or hosted instance)
DATABASE_URL="postgresql://user:password@localhost:5432/careercompass?schema=public"

# JWT secret key for UI user authentication (at least 32 characters long)
JWT_SECRET="generate_a_random_32_character_long_secret_key"

# Telegram Bot configurations (Get token from @BotFather)
TELEGRAM_BOT_TOKEN="1234567890:ABCdefGhIJKlmNoPQRsTUVwxyZ"

# Express server listening port
PORT=3000

# Node execution environment (development | production)
NODE_ENV="development"

# Redis Configuration (Optional cache, defaults to redis://localhost:6379 if not specified)
REDIS_URL="redis://localhost:6379"
